nav .navbar-brand
{
    font-size: xx-large;
}

#nav-container{
  background-color: #F5F3F5;
  box-shadow: 10px 10px 10px 10px #b8b8b8;
}
.nav-text-head{
  padding-top: 10px;
}

.footer-div{
  padding: 20px;
}
.footer-div-p {
  font-size: 15px;
}
footer {
  background-color: #ECE9EC;
}
