<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google result text-->
    <title>Jenna Castillo | profile</title>
    <!-- Google result description-->
    <meta name="description" content="Jenna Castillo is an aspiring web developer">
    <!-- Fontawesome Stylesheet -->
    <script src="https://kit.fontawesome.com/1efd185603.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/about_style.css">
  </head>
  <body>
    <div class="container">
      <div class="card text-center" id="header">

        <div id="header-introduction">
          <h1 id="intro-title">Hello, I'm Jenna </h1>
        </div>
        <img class="img-circle" src="../static/images/jenna_photo_profile_sm.png" alt="Jenna Castillo headshot">
        <div id="intro-description">
          <h2>  Rendering ...Full-Stack Developer 🧑‍💻</h2>
          <p>I love web development, travel, and all things tech.
            I enjoy the challenge of programming and the process of
            utilizing technical-means for creative-ends.</p>
          <div class="intro-btn">
            <a class="btn-blk" href="/about">Work coming soon</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="languages">
        <ul class="list-inline text-center" id="lang-list">
          <li>
            <i class="fa-solid fa-gem fa-2x"></i>
          </li>
          <li>
            <i class="fa-brands fa-python fa-2x"></i>
          </li>
          <li>
            <i class="fa-solid fa-database fa-2x"></i>
          </li>
          <li>
            <i class="fa-brands fa-css3 fa-2x"></i>
          </li>
          <li>
            <i class="fa-brands fa-html5 fa-2x"></i>
          </li>
          <li>
            <i class="fa-brands fa-js fa-2x"></i>
          </li>
          <li>
            <i class="fa-solid fa-square-plus fa-2x"></i>
          </li>
        </ul>
      </div>
    </div>
    <div>
    <div class="container">
      <div class="card"  id="about">
            <h2> About</h2>
              <p class="text-center"> While working in media production, I stumbled upon <a href="https://pll.harvard.edu/course/cs50-introduction-computer-science?delta=0" class="link" target="_blank">CS50</a>, and instantaneously fell in love with coding. I decided to transition my career into tech.
                  I am currently a part of batch #845 of <a class="link" href="https://www.lewagon.com/" target="_blank">Le Wagon's</a> full-stack program.
              </p>
      </div>
    </div>
    <div class="container">
      <div id="socials">
        <ul class="list-inline text-center"id="socials_list">
          <li>
            <a class="btn-blk" href="https://www.reddit.com/user/jenty_code" target="_blank">
              <i class="fa-brands fa-reddit-alien"></i> Reddit
            </a>
          </li>
          <li>
            <a class="btn-blk" href="https://www.linkedin.com/in/jenna-castillo-461694140/" target="_blank">
              <i class="fab fa-linkedin-in"></i> Linkedin
            </a>
          </li>
          <li>
            <a class="btn-blk" href="https://github.com/Jennacodes101" target="_blank">
              <i class="fab fa-github"></i> Github
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container text-center mt-5" id="footer">
      <p class="jet"><strong> contact me: jennacodes101@gmail.com</strong></p>
    </div>
  </div>

  </body>
</html>
<!-- end of file -->
